.modelContainer {
    width: 85%;
}

.imgParent {
    overflow: hidden;
}

.modelImage {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: .2rem;
    transition: transform .5s ease;
}

.modelImage:hover {
    transform: scale(1.5);
}

.modelTitle {
    color: var(--principal);
}

.softwareContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.software {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .9rem;
    width: auto;
    min-height: auto;
    padding: .2rem .3rem;
    border-radius: 0.2rem;
    color: #575656;
    background-color: #eabd9f;
    border: .1rem solid #e6a478;
}
